.App {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
p {
  line-height: 0px;
}
button {
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  color: #2d2ad5;
  cursor: pointer;
}


.first{
  width:70%;
  height:300px;
  position:absolute;
  

}
.middle{
  /* justify-content: center; */
  text-align: center;
  position: relative;
  top: 375px;
  }
.second{
/* justify-content: center; */
text-align: center;
width:40%;
height:200px;
position: relative;
top: 340px;
}

